<app-message [message]="message" [type]="messageType"></app-message>

<div *ngIf="!isEndOfGame" class="grid">
  <div class="row">
    <div *ngFor="let char of splittedChars" class="float-left pr-2 wh-3">
        <button type="button" class="btn btn-primary btn-block">
            {{(char | uppercase)}}
        </button>
    </div>
  </div>
  <div class="row h-3">
      <button type="button" class="btn btn-secondary btn-block text-left">
        {{inputWord | uppercase}}
      </button>
      <hr>
  </div>

  <div *ngFor="let word of predictedWords" class="row text-success">
    {{word | uppercase}}  
  </div>
  
  <div *ngIf="isHomePressed">
    <div *ngFor="let word of leftWords" class="row text-danger">
        {{word | uppercase}}
    </div>
  </div>
</div>






