<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Word Scramble Game</title>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1 class="text-center">Word Scramble Game</h1>
        <app-word-scramble></app-word-scramble>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Tips</h2>
          <p>Use the given characters to form all the posible words.</p>
          <p>Press Enter to check the word.</p>
          <p>Press BackSpace remove the last character.</p>
          <p>Press Home to display all the words.</p>
        </div>
      </div>
      <hr>

      <footer>
        <p>XTT© Company 2017</p>
      </footer>
    </div>
  </body>
</html>

